/*Main Menu*/

#mainMenu{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: fit-content;
    height: 100%;
    width: fit-content;
}

#menuLang{
    position: absolute;
    top: 0;
    right: 0;
    margin: 1.5vmax;
    width: fit-content;
    font-size: 1.5vmax;
    padding: 0.5vmax;
    border-radius: 1vmax;
    appearance: base-select;
}

#menuLang::picker-icon{
    transition: all 0.2s;
}

#menuLang:open::picker-icon{
    transform: scaleY(-1);
}

#menuTitle{
    margin-bottom: 5vmax;
    font-family: "Nabla", system-ui;
    font-size: 8vmax;
    letter-spacing: 1vmax;
    text-align: center;
}

.menuBt{
    margin-block: 1vmax;
    border-radius: 5vmax;
    border: var(--orange) solid 0.2vmax;
    padding: 1vmax;
    font-size: 3vmax;
    min-width: fit-content;
    width: 80%;
    background-color: var(--gray);
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background 0.1s;
}

.menuBt:hover{
    background-color: hsl(from var(--gray) h s 50);
    font-weight: 500;
}

.menuBt:active{
    background-color: var(--orange);
}

#menuBtPlay{
    text-shadow: 0.2vmax 0.2vmax var(--orange);
}

/*Main Menu vége*/

/*Settings*/

#settingsMenu{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#settingsBack{
    position: absolute;
    top: 0;
    left: 0;
    margin: 1.5vmax;
    width: fit-content;
    font-size: 1.5vmax;
    padding: 0.5vmax;
    border-radius: 1vmax;
}

input[type="range"]{
    width: 100%;
    accent-color: var(--orange);
}

label{
    font-size: 2vmax;
    font-weight: 600;
    text-shadow: 0.1vmax 0.1vmax var(--orange);
    text-align: left;
    width: 100%;
}